body {
    margin: 0;
}

#content {
    max-width: 948px;
    margin: 0 auto;
}

.title {
    text-align: center;
    background-color: #f8981c;
    color: white;
    padding: 20px;
    font-family: Helvetica, Arial;
    font-size: 48px;
    margin: 0;
}
.app {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
}
.screenshot > img{
    max-width: 640px;
    border: dotted black 6px;
    margin-left: 20px;
}
    
.description {
    max-width: 705px;
}